[submodule "C++ Advanced/companions/cpp_astar_course_companion"]
	path = C++ Advanced/companions/cpp_astar_course_companion
	url = https://github.com/StudioAlbert/cpp_astar_course_companion.git
[submodule "C++ Advanced/companions/cpp_builder_pattern_course_companion"]
	path = C++ Advanced/companions/cpp_builder_pattern_course_companion
	url = https://github.com/StudioAlbert/cpp_builder_pattern_course_companion.git
[submodule "widgets"]
	path = widgets
	url = https://github.com/StudioAlbert/widgets.git
[submodule "_portfolio"]
	path = _portfolio
	url = https://github.com/StudioAlbert/Portfolio.git
