[submodule "C++ Advanced/companions/cpp_astar_course_companion"]
	path = 01 courses/companion projects/C++/cpp_astar_course_companion
	url = https://github.com/StudioAlbert/cpp_astar_course_companion.git
[submodule "C++ Advanced/companions/cpp_builder_pattern_course_companion"]
	path = 01 courses/companion projects/C++/cpp_builder_pattern_course_companion
	url = https://github.com/StudioAlbert/cpp_builder_pattern_course_companion.git
[submodule "01 courses/companion projects/Unity/Companion-Solid-DungeonCrawler"]
	path = 01 courses/companion projects/Unity/Companion-Solid-DungeonCrawler
	url = https://github.com/StudioAlbert/Companion-Solid-DungeonCrawler.git
[submodule "01 courses/companion projects/C++/GPR-CF-BDP-04 - Branches et boucles"]
	path = 01 courses/companion projects/C++/GPR-CF-BDP-04 - Branches et boucles
	url = https://github.com/StudioAlbert/GPR_CF_BDP_04_BranchesEtBoucles.git
[submodule "01 courses/companion projects/C++/GPR-CF-GTE-02 - Chasse au trésor"]
	path = 01 courses/companion projects/C++/GPR-CF-GTE-02 - Chasse au trésor
	url = https://github.com/StudioAlbert/GPR_CF_GTE_02_ChasseAuTresor.git
[submodule "01 courses/companion projects/C++/TC-FT-RNLB-02 - Entiers signés et dépassements"]
	path = 01 courses/companion projects/C++/TC-FT-RNLB-02 - Entiers signés et dépassements
	url = https://github.com/StudioAlbert/TC_FT_RNLB_02_EntiersSignes.git
[submodule "01 courses/companion projects/C++/TC-FT-RNLB-03 - Flottants IEEE 754"]
	path = 01 courses/companion projects/C++/TC-FT-RNLB-03 - Flottants IEEE 754
	url = https://github.com/StudioAlbert/TC_FT_RNLB_03_FlottantsIEEE754.git
[submodule "01 courses/companion projects/Unity/GPR-UN-APU-04 - ScriptableObjects"]
	path = 01 courses/companion projects/Unity/GPR-UN-APU-04 - ScriptableObjects
	url = https://github.com/StudioAlbert/GPR_UN_APU_04_ScriptableObjects.git
[submodule "01 courses/companion projects/Unity/TC-FT-GVM-05 - Interpolation et courbes"]
	path = 01 courses/companion projects/Unity/TC-FT-GVM-05 - Interpolation et courbes
	url = https://github.com/StudioAlbert/TC-FT-GVM-05---Interpolation-et-courbes.git
